logs
*.log

pids
*.pid
*.seed

lib-cov

.grunt

build/Release

node_modules

.lock-wscript

#IDE
.idea

test/.work

.cluster_status.json
.format_status.json
.minify_status.json

/var/backup/*
/var/log/*
/var/data/*
/var/cache/*