<section id="blog-edit-setion" ng:controller="BlogEditCtrl">
    <div>
        <input type="text" id="blog-title-input" class="wide-input">
    </div>
    <textarea name="blog-text" id="blog-text-textarea" class="wide-textarea" cols="30" rows="20"></textarea>

    <div id="blog-edti-preview"></div>
    <div class="text-center">
        <a id="blog-cancel-button" class="button" href="">{{l.buttons.CANCEL}}</a>
        <a id="blog-save-button" class="button" href="">{{l.buttons.SAVE}}</a>
    </div>
</section>