<section id="blog-list-section" ng:controller="BlogListCtrl">
    <dl id="blog-list">
        <dt ng:repeat-start="b in blogs">
            <a class="blog-dt-anchor blog-title"
               name="blog-{{b._id}}">
                {{b.title}}
            </a>
            <span class="blog-date-label">{{b._at | dateFormatFilter}}</span>
            <span class="display-block">
                <span ok:tag ok:title="t" ng:repeat="t in (b.tagText | textSplitFilter:',')"></span>
            </span>
        </dt>
        <dd ng:repeat-end="" ng:bind-html="b.content | markdownRenderFilter"></dd>
    </dl>
    <a id="blog-more-button"
       class="list-more-button"
       ok:button
       ng:show="hasMore"
       ng:click="loadMore()"
            >{{l.buttons.MORE}}</a>
</section>