/** Style for admin page. **/

header {
    background-color: rgba(51, 136, 170, 0.96);
}

header h1 {
    color: #24637C;
}

.close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: 4px 8px;
    cursor: default;
    color: #AAA;
    font-size: 0.75em;
}

.close-button:hover {
    color: #333;
}

fieldset {
    border: 1px groove #AAA;
    margin: 4px 8px;
}

.no-style-fieldset {
    border: none;
    padding: 0;
}

.field {
    display: block;
    padding: 4px 0;
}

.blog-date-label {
    font-size: 0.75em;
    color: #AAA;
}

#blog-title-input {
    font-size: 1.5em;
}

#admin-blog-editor-section {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    z-index: 202;
    background-color: rgba(0, 0, 0, 0.2);
}

#admin-blog-editor-section.blog-editor-visible {
    display: block;
}

#admin-blog-editor-section-content {
    padding: 16px 8px 8px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 120px auto 20px;
    overflow-y: auto;
}

#admin-blog-list-section {
    max-width: 600px;
}

#admin-blog-list {
    margin: 4px;
    padding: 0;
}

.admin-blog-list-item {
    border-bottom: 1px solid #EEE;
    list-style: none;
    position: relative;
    padding: 2px 4px 8px;
}

.admin-blog-list-title {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.admin-blog-list-item-inner {
    margin-right: 160px;
}

.admin-blog-list-content {
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    font-size: 0.75em;
}

.admin-blog-list-action-area {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 150px;
    opacity: 0.5;
}

.admin-blog-list-item:hover .admin-blog-list-action-area {
    opacity: 1;
}