/** Style for blog page. **/
body {
}

main {
    margin-right: 340px;
}

#blog-aside {
    position: absolute;
    border: 1px solid #EEE;
    padding: 10px;
    margin: 0;
    top: 0;
    right: 0;
    width: 280px;
}

#blog-aside ul {
    padding: 0;
    margin: 0;
}

#blog-aside li {
    list-style: none;
}

#blog-aside li a {
    display: block;
    padding: 4px 8px;
}

#aside-blog-more-button {
    display: block;
    padding: 4px 8px;
    text-align: center;
    color: #AAA;
}

#blog-list dt {
    font-size: 1.5em;
    margin: 20px 0;
}

#blog-list dd {
    margin: 0 0 20px;
}

#blog-list .blog-dt-anchor {
    position: relative;
    padding-top: 55px;
    margin-top: -55px;
}

