/** Style for index page. **/
header {
    display: none;
}

body {
    margin-top: 0;
}

#index-page-body {

}

#menu-nav {
    display: none;
}

.outlined-text-white {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1),
    -1px 1px 1px rgba(255, 255, 255, 1),
    1px -1px 1px rgba(255, 255, 255, 1),
    -1px -1px 1px rgba(255, 255, 255, 1);
}

#title-section {
    position: relative;
    box-sizing: border-box;
    margin: 20px auto;
}

#title-section-inner {
    width: 100%;
    left: 0;
    top: 0;
}

#main-title {
    font-family: 'source-code-pro-extra-light';
    font-size: 14em;
    line-height: 0.9em;
    margin: 20px auto;
    text-align: center;
    word-wrap: break-word;
    color: #444;
}

#small-title {
    font-family: 'source-code-pro-extra-light';
    color: #444;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    -ms-transition: opacity 100ms;
    transition: opacity 100ms;
    z-index: 204;
    font-size: 16px;
    line-height: 20px;
}

#menu-section {
    position: relative;
}

#menu-section-inner {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 101;
}

#menu-section-inner.ok-fixed #small-title {
}

.ok-fixed {
    position: fixed !important;
}

#menu-nav {
    padding: 20px 0;
}

.menu-nav-item {
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #444;
    border: 1px solid #404040;
    color: #FFF;
    padding: 0.5em 1em;
    margin: 1px;
    opacity: 0.95;
}

.menu-nav-item:hover {
    opacity: 0.8;
}

.menu-nav-item:active {
    opacity: 0.7;
}

#main-content-background {
    /*background-color: rgba(244, 244, 244, 0.5);*/
    position: relative;
    z-index: 2;
}

.work-thumbanil-img {
    max-width: 200px;
}

.content-section {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #DDD;
    margin: 40px 0;
    position: relative;
}

.content-section-title {
    color: #DDD;
    margin: 20px;
}

.see-more-button-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    box-sizing: border-box;

}

.see-more-button {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.see-more-button-label {
    position: absolute;
    font-family: monospace;
    top: 50%;
    font-size: 40px;
    right: 20px;
}

.see-more-button-label-inner {
    position: relative;
    top: -20px;
    color: #CCC;
}