/** Style for work page. **/

#work-list-section {
    background-color: #F0F0F0;
    padding: 10px 0;
}

#work-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.work-list-item {
    text-align: left;
    list-style: none;
    margin: 4px;
    position: relative;
    min-height: 180px;
    max-width: 300px;
    display: inline-block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    background-color: white;
}

.work-list-item-title {
    margin: 0;
    border-bottom: 1px solid #F0F0F0;
    width: 100%;
    display: block;
    font-weight: 100;
    position: relative;
    z-index: 3;
    background: rgba(255, 255, 255, 0.9);
}

.work-list-item-title a {
    color: #333;
    display: inline-block;
    padding: 5px 10px;
}

.work-background-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

.work-background-image {
    opacity: 0.1;
}

.work-list-item-content {
    padding: 50px 0 0;
}

.work-thumbnail-image-container {
    position: absolute;
    left: 0;
    top: 33px;
    overflow: hidden;
    width: 300px;
    height: 50px;
    background-color: #E0E0E0;
}

.work-thumbnail-image {
    position: relative;
    top: -34px;
    left: 0;
}

.work-background-image,
.work-thumbnail-image {
    max-width: 480px;
}

.work-thumbnail {
    max-width: 80px;
    max-height: 80px;
}

.work-description {
    position: relative;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border: 1px solid #F2F2F2;
}

@media (max-width: 568px) {
    #work-list {
        width: 100%;
    }
}