#social-buttons-container {
    height: 24px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

#twitter-button-container {
    min-width: 109px;
}

#facebook-button-container {
    min-width: 146px;
}

.button-container {
    float: right;
    margin: 0 4px;
    min-height: 1px;
}