/**
 * Style for text decoration.
 */

.text-decoration-none {
  text-decoration: none;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-overline {
  text-decoration: overline;
}

