.toast {
    padding: 4px 8px;
    font-family: monospace;
    border: 1px solid #F0F0F0;
    margin: 4px 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.9);
}

.info-toast {
    border-color: green;
    color: rgba(0, 128, 0, 1);
}

.error-toast {
    border-color: red;
    color: rgba(255, 0, 0, 1);
}

.warn-toast {
    border-color: rgb(240, 210, 0);
    color: rgba(240, 210, 0, 1);
}

.ok-toast {
    display: none;
    max-width: 280px;
    margin: 4px auto;
}

.ok-toast-icon {
    float: left;
    margin-right: 4px;
}

.ok-toast-visible {
    display: block;
}

.toast-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    bottom: 84px;
    z-index: 9999;
}
