/***
 * Font styles.
 */
/** Josefin Slab Bold */
@font-face {
    font-family: 'josefin-slab-bold';
    src: url('../../fonts/Josefin Slab Bold.woff');
}
.font-josefin-slab-bold {
    font-family: 'josefin-slab-bold';
}


/** Lato Hairline */
@font-face {
    font-family: 'lato-hairline';
    src: url('../../fonts/Lato Hairline.woff');
}
.font-lato-hairline {
    font-family: 'lato-hairline';
}


/** Source Code Pro Extra Light */
@font-face {
    font-family: 'source-code-pro-extra-light';
    src: url('../../fonts/Source Code Pro Extra Light.woff');
}
.font-source-code-pro-extra-light {
    font-family: 'source-code-pro-extra-light';
}


/** Ubuntu Bold */
@font-face {
    font-family: 'ubuntu-bold';
    src: url('../../fonts/Ubuntu Bold.woff');
}
.font-ubuntu-bold {
    font-family: 'ubuntu-bold';
}


/** fontawesome-webfont */
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../../fonts/fontawesome-webfont.woff');
}
.font-fontawesome-webfont {
    font-family: 'fontawesome-webfont';
}


/** ionicons */
@font-face {
    font-family: 'ionicons';
    src: url('../../fonts/ionicons.woff');
}
.font-ionicons {
    font-family: 'ionicons';
}


