/**
 * Font faces.
 */

@font-face {
  font-family: josefin-slab-bold;
  src: url('/fonts/Josefin Slab Bold.woff');
}
@font-face {
  font-family: lato-hairline;
  src: url('/fonts/Lato Hairline.woff');
}
@font-face {
  font-family: source-code-pro-extra-light;
  src: url('/fonts/Source Code Pro Extra Light.woff');
}
@font-face {
  font-family: ubuntu-bold;
  src: url('/fonts/Ubuntu Bold.woff');
}
@font-face {
  font-family: fontawesome-webfont;
  src: url('/fonts/fontawesome-webfont.woff');
}
@font-face {
  font-family: ionicons;
  src: url('/fonts/ionicons.woff');
}

