header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    height: 48px;
    border-bottom: 1px solid #FAFAFA;
}

header h1 {
    line-height: 48px;
    height: 48px;
    margin: 0;
    color: #E0E0E0;
    font-family: 'source-code-pro-extra-light';
    display: inline-block;
    cursor: default;
}

.header-nav {
    float: right;
}

.header-nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    line-height: 40px;
    width: 72px;
    position: relative;
    font-family: 'source-code-pro-extra-light';
}

.header-nav-item:link,
.header-nav-item:visited{
    color:#DADADA;
}

.header-nav-item:hover {
    color: #777;
    text-decoration: none !important;
}

.header-nav-item:active{
    opacity: 0.6;
}

.header-nav-item:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
}

.header-nav-item.nav-item-selected {
    color: #F90;
}
.header-nav-item.nav-item-selected:hover{
    cursor: default;
}
.header-nav-item.nav-item-selected:after {
    background-color: #F90;
}