a {
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    text-decoration: underline;
}

a:link, a:visited {
    color: #B5B5B5;
}
body {
    padding: 0;
    margin: 60px 0 0;
    overflow-x: hidden;
    font-family: Tahoma, Geneva, sans-serif;
}
/**
 * Style for clearing.
 */

.clear-left {
  clear: left;
}
.clear-both {
  clear: both;
}
.clear-right {
  clear: right;
}


.container {
    max-width: 1080px;
    margin: 0 auto;
}
/**
 * Style for floating.
 */

.float-left {
  float: left;
}
.float-none {
  float: none;
}
.float-right {
  float: right;
}


/**
 * Font faces.
 */

@font-face {
  font-family: josefin-slab-bold;
  src: url('/fonts/Josefin Slab Bold.woff');
}
@font-face {
  font-family: lato-hairline;
  src: url('/fonts/Lato Hairline.woff');
}
@font-face {
  font-family: source-code-pro-extra-light;
  src: url('/fonts/Source Code Pro Extra Light.woff');
}
@font-face {
  font-family: ubuntu-bold;
  src: url('/fonts/Ubuntu Bold.woff');
}
@font-face {
  font-family: fontawesome-webfont;
  src: url('/fonts/fontawesome-webfont.woff');
}
@font-face {
  font-family: ionicons;
  src: url('/fonts/ionicons.woff');
}


footer {
    padding: 10px 4px;
    border-top: 1px solid #F5F5F5;
    margin: 40px 10px 0;
    color: #B0B0B0;
}
.footer-logo{

}

/**
 Style for gird.
 */


.grid-row {
    box-sizing: border-box;
    -ms-box-orient: horizontal;

    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.grid-col{
    width:100%;
    box-sizing: border-box;
    display: block;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    height: 48px;
    border-bottom: 1px solid #FAFAFA;
}

header h1 {
    line-height: 48px;
    height: 48px;
    margin: 0;
    color: #E0E0E0;
    font-family: 'source-code-pro-extra-light';
    display: inline-block;
    cursor: default;
}

.header-nav {
    float: right;
}

.header-nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    line-height: 40px;
    width: 72px;
    position: relative;
    font-family: 'source-code-pro-extra-light';
}

.header-nav-item:link,
.header-nav-item:visited{
    color:#DADADA;
}

.header-nav-item:hover {
    color: #777;
    text-decoration: none !important;
}

.header-nav-item:active{
    opacity: 0.6;
}

.header-nav-item:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
}

.header-nav-item.nav-item-selected {
    color: #F90;
}
.header-nav-item.nav-item-selected:hover{
    cursor: default;
}
.header-nav-item.nav-item-selected:after {
    background-color: #F90;
}
table {
    border-collapse: collapse;
    margin: 25px 10px;
}

caption {
    color: #FCA100;
    padding: 4px 8px;
    font-weight: 100;
}

th {
    color: #999;
    font-weight: 100;
}

td, th {
    padding: 10px 15px;
    background-color: #FFF;
    border: 1px solid #EEE;
}

th:first-child,
td:first-child {
    border-left: none;
}

th:last-child,
td:last-child {
    border-right: none;
}

tr:first-child th,
tr:first-child td {
    border-top: none;
}

tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: none;
}
/**
 * Style for text aligning.
 */

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}


