/** Style for index page. **/

body {
    margin: 0;
}

#main-title {
    font-family: 'source-code-pro-extra-light';
    font-size: 14em;
    line-height: 0.9em;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    color: #444;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 202;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1),
    -1px 1px 1px rgba(255, 255, 255, 1),
    1px -1px 1px rgba(255, 255, 255, 1),
    -1px -1px 1px rgba(255, 255, 255, 1);
    padding: 20px 0;
}

#thumbnails-section {
    margin: 40px 0;
}

#thumbnails-section .thumbnail-list-item {
    margin: 0px;
    width: 180px;
    height: 180px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 15px solid #F5F5F5;
    display: inline-block;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    transform: rotate(0deg);
}

#thumbnails-section .thumbnail-list-item:before,
#thumbnails-section .thumbnail-list-item:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    border-radius: 50%;
}

#thumbnails-section .thumbnail-list-item:after {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

#thumbnails-section #thumbnails-list-container {
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #F0F0F0;
    background: #FCFCFC;
}

#thumbnails-section #thumbnails-list-container:before,
#thumbnails-section #thumbnails-list-container:after {
    position: absolute;
    top: 0;
    height: 100%;
    content: '';
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 2px;
    display: block;
    z-index: 101;
}

#thumbnails-section #thumbnails-list-container:before {
    left: -2px;
}

#thumbnails-section #thumbnails-list-container:after {
    right: -2px;
}

#thumbnails-section #thumbnails-list {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#thumbnails-section .thumbnail-img {
    z-index: 0;
    z-index: 0;
    max-width: 340px;
    max-height: 340px;
    position: relative;
    top: -20px;
    left: -20px;
    opacity: 0.8;
}

#menu-section .menu-item {
    float: left;
    width: 33.3%;
    display: inline-block;
}

#menu-section a {
    margin: 4px;
    background-color: #555;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: 2em;
}