<ul id="work-list" ng:controller="WorkListCtrl">

    <li ng:repeat="work in listing.data" class="work-list-item">

        <div class="work-background-image-container">
            <a ng:href="{{hrefForWork(work)}}" class="image-link">
                <img ng:src="{{images[work.thumbnail]}}" class="work-background-image">
            </a>
        </div>

        <h3 class="work-list-item-title work-white-back theme-font">
            <a ng:href="{{hrefForWork(work)}}">{{work.name}}<img class="work-list-favicon"
                                                                 ng:src="{{links[work.favicon]}}"
                                                                 ng:if="!!links[work.favicon]"/>
            </a>
        </h3>

        <div class="work-list-item-content">
            <div class="work-description work-white-back">
                <div class="work-tags-container">
                    <span ok:tag ok:title="t" ng:repeat="t in work.tag"></span>
                </div>

                <div ng:repeat="d in work.description">{{d}}</div>
            </div>

            <div ok:work-link ok:work-href="work.link" ok:work-title="l.buttons.VISIT_SITE"
                 ok:work-icon="work.favicon">
            </div>
            <div ok:work-link ok:work-href="work.demo" ok:work-title="l.buttons.TRY_DEMO"
                 ok:work-icon="work.favicon">
            </div>
            <div ok:work-link ok:work-href="work.repo" ok:work-title="l.buttons.VIEW_SOURCE_CODE"
                 ok:work-icon="work.repoFavicon">
            </div>
        </div>

    </li>
    <li class="clear-both"></li>
</ul>