<!DOCTYPE html>
<html ng-app="ok.blogPage">
<head ng-attr-lang="{{lang}}" ng-controller="HeadControl">
    <meta ng-attr-charset="{{charset}}">
    <meta name="viewport" ng-attr-content="{{viewport}}">


    <link rel="icon" href="/images/favicon.png?v=0.0.0">

    <link rel="stylesheet" href="/stylesheets/base.css?v=0.0.0">
    <link rel="stylesheet" href="/stylesheets/blog-page.css?v=0.0.0">

    <script src="/javascripts/lib.js?v=0.0.0"></script>
    <script src="/javascripts/ok/constants.js?v=0.0.0"></script>
    <script src="/javascripts/ok/datasources.js?v=0.0.0"></script>
    <script src="/javascripts/ok/directives.js?v=0.0.0"></script>
    <script src="/javascripts/ok/entities.js?v=0.0.0"></script>
    <script src="/javascripts/ok/errors.js?v=0.0.0"></script>
    <script src="/javascripts/ok/filters.js?v=0.0.0"></script>
    <script src="/javascripts/ok/indices.js?v=0.0.0"></script>
    <script src="/javascripts/ok/logics.js?v=0.0.0"></script>
    <script src="/javascripts/ok/services.js?v=0.0.0"></script>
    <script src="/javascripts/ok/utils.js?v=0.0.0"></script>
    <script src="/javascripts/ok/pages/page.js?v=0.0.0"></script>
    <script src="/javascripts/ok/pages/blog-page.js?v=0.0.0"></script>
    <title ng-bind="title('blog')"></title>

    <meta ok-meta="'a'" ok-config="meta">


</head>
<body>
<header ng-include="url(partials.HEADER)" ng-controller="HeaderControl"></header>

<div class="container positioned" ng-controller="BlogCtrl">
    <aside>
        <div ng-controller="BlogListCtrl">
            <ul>
                <li ng-repeat="b in blogs">
                    <a href="javascript:void(0)" ng-click="scrollTo('blog-dt-' + b._id)">{{b.title}}</a>
                </li>
            </ul>
            <a id="aside-blog-more-button" href="javascript:void(0)" ng-click="more()">{{l.buttons.MORE}}</a>
        </div>
    </aside>
    <main>
        <article id="blog-article">
            <section id="blog-edit-setion" ng-controller="BlogEditCtrl">
                <div>
                    <input type="text" id="blog-title-input" class="wide-input">
                </div>
                <textarea name="blog-text" id="blog-text-textarea" class="wide-textarea" cols="30" rows="20"></textarea>

                <div id="blog-edti-preview"></div>
                <div class="text-center">
                    <a id="blog-cancel-button" class="button" href="">{{l.buttons.CANCEL}}</a>
                    <a id="blog-save-button" class="button" href="">{{l.buttons.SAVE}}</a>
                </div>
            </section>
            <section id="blog-list-section" ng-controller="BlogListCtrl">
                <dl id="blog-list">
                    <dt ng-repeat-start="b in blogs" id="blog-dt-{{b._id}}">
                        {{b.title}}
                    </dt>
                    <dd ng-repeat-end="">{{b.content}}</dd>
                </dl>
            </section>
        </article>
    </main>
</div>

<footer ng-include="url(partials.FOOTER)" ng-controller="FooterControl"></footer>

</body>
</html>