<!DOCTYPE html>
<html ng-app="ok.blogPage">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="icon" href="./images/favicon.png?v=0.0.0">

    <link rel="stylesheet" href="/stylesheets/base.css?v=0.0.0">
    <link rel="stylesheet" href="/stylesheets/blog-page.css?v=0.0.0">

    <script src="/javascripts/lib.js?v=0.0.0"></script>
    <script src="/javascripts/ok/constants.js?v=0.0.0"></script>
    <script src="/javascripts/ok/entities.js?v=0.0.0"></script>
    <script src="/javascripts/ok/services.js?v=0.0.0"></script>
    <script src="/javascripts/ok/utils.js?v=0.0.0"></script>
    <script src="/javascripts/ok/pages/page.js?v=0.0.0"></script>
    <script src="/javascripts/ok/pages/blog-page.js?v=0.0.0"></script>
    <title>{{title("blog")}}</title>

</head>
<body>
<header ng-include="url(partials.header)" ng-controller="HeadControl"></header>
<div class="container positioned" ng-controller="BlogCtrl">
    <aside>
        <ul>
            <li ng-repeat="b in blogs">
                <a href="javascript:void(0)" ng-click="scrollTo('blog-dt-' + b._id)">{{b.title}}</a>
            </li>
        </ul>
        <a id="aside-blog-more-button" href="javascript:void(0)">{{l.buttons.more}}</a>
    </aside>
    <main>
        <article id="blog-article">
            <section id="blog-edit-setion">
                <div>
                    <input type="text" id="blog-title-input" class="wide-input">
                </div>
                <textarea name="blog-text" id="blog-text-textarea" class="wide-textarea" cols="30" rows="20"></textarea>

                <div id="blog-edti-preview"></div>
                <div class="text-center">
                    <a id="blog-cancel-button" class="button" href="">{{l.buttons.cancel}}</a>
                    <a id="blog-save-button" class="button" href="">{{l.buttons.save}}</a>
                </div>
            </section>
            <section id="blog-list-section">
                <dl id="blog-list">
                    <dt ng-repeat-start="b in blogs" id="blog-dt-{{b._id}}">
                        <span ng-if="editing"></span>
                        {{b.title}}
                    </dt>
                    <dd ng-repeat-end="">{{b.content}}</dd>
                </dl>
            </section>
        </article>
    </main>
</div>

<footer ng-include="url(partials.footer)" ng-controller="FootControl"></footer>

</body>
</html>