<table id="{{id}}" class="profile-table">
    <caption>{{caption}}</caption>
    <thead>
    <tr ng:if="!!data.head">
        <th ng:repeat="head in data.head">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng:repeat="row in data.body" ng:init="headed=!!data.headedBody">
        <th ng:repeat="cell in row" ng:if="(headed && $first)"
            ng:bind-html="cell | textLinkFilter:data.links"></th>
        <td ng:repeat="cell in row" ng:if="!(headed && $first)">
            <span ng:hide="cell.image"
                  ng:bind-html="cell | textLinkFilter:data.links"></span>
            <span ng:show="cell.image"><a href="{{images[cell.image]}}" target="_blank">{{cell.title}}</a></span>
        </td>
    </tr>
    </tbody>
</table>