<section id="admin-blog-list-section" ng:controller="AdminBlogListCtrl">
    <ul id="admin-blog-list">
        <li ng:repeat="b in listing.data" class="admin-blog-list-item">

            <span class="admin-blog-list-action-area">
                <a ok:button ok:button-type="'link'" ng:click="edit(b)"><i
                        class="fa fa-pencil"></i>{{l.buttons.EDIT}}</a>
                <a ok:button ok:button-type="'link'" ng:click="destroy(b)"><i class="fa fa-trash-o"></i>{{l.buttons.DELETE}}</a>
            </span>

            <div class="admin-blog-list-item-inner">
                <h3 class="admin-blog-list-title">
                    <a class="blog-dt-anchor"
                       name="blog-{{b._id}}">{{b.title}}</a>
                </h3>

                <div>
                    <span class="blog-date-label">{{b._at | dateFormatFilter}}</span>
                </div>
                <div>
                    <span ok:tag ok:title="t" ng:repeat="t in (b.tagText | textSplitFilter:',')"></span>
                </div>
            <span class="admin-blog-list-content">
            {{b.content | textEllipsisFilter:ellipsisLength}}
            </span>

            </div>
        </li>
    </ul>
    <a id="admin-blog-more-button"
       class="list-more-button"
       ok:button
       ng:show="listing.hasMore"
       ng:click="listing.loadMore()"
            >{{l.buttons.MORE}}</a>
</section>