<section id="admin-blog-list-section" ng:controller="AdminBlogListCtrl">
    <ul id="admin-blog-list">
        <li ng:repeat="b in datasources.listing.data" class="admin-blog-list-item">

            <span class="admin-blog-list-action-area">
                <a href="javascript:void(0)" class="link-button" ng:click="edit(b)"><i class="fa fa-pencil"></i>{{l.buttons.EDIT}}</a>
                <a href="javascript:void(0)" class="link-button" ng:click="destroy(b)"><i class="fa fa-trash-o"></i>{{l.buttons.DELETE}}</a>
            </span>

            <div class="admin-blog-list-item-inner">


                <h3 class="admin-blog-list-title">
                    <a class="blog-dt-anchor"
                       name="blog-{{b._id}}">{{b.title}}</a>
                </h3>

            <span class="admin-blog-list-content">
            {{b.content | textEllipsisFilter:contentEllipsisLength}}
            </span>

            </div>
        </li>
    </ul>
    <a id="admin-blog-more-button"
       class="list-more-button"
       ok:button
       ng:show="datasources.listing.hasMore"
       ng:click="datasources.listing.loadMore()"
            >{{l.buttons.MORE}}</a>
</section>