a {
    text-decoration: none;
}

a:link, a:visited {
    color: #26777B;
}

a:link:hover,
a:visited:hover {
    text-decoration: underline;
}


body {
    padding: 0;
    margin: 60px 0 0;
    overflow-x: hidden;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 100;
}
/**
 * Style for bordering.
 */

.border-width-1 {
  border-width: 1px;
}
.border-width-2 {
  border-width: 2px;
}
.border-style-solid {
  border-style: solid;
}
.border-top-width-1 {
  border-top-width: 1px;
}
.border-top-width-2 {
  border-top-width: 2px;
}
.border-top-style-solid {
  border-top-style: solid;
}
.border-left-width-1 {
  border-left-width: 1px;
}
.border-left-width-2 {
  border-left-width: 2px;
}
.border-left-style-solid {
  border-left-style: solid;
}
.border-right-width-1 {
  border-right-width: 1px;
}
.border-right-width-2 {
  border-right-width: 2px;
}
.border-right-style-solid {
  border-right-style: solid;
}
.border-bottom-width-1 {
  border-bottom-width: 1px;
}
.border-bottom-width-2 {
  border-bottom-width: 2px;
}
.border-bottom-style-solid {
  border-bottom-style: solid;
}


button,
.button,
.button:visited,
.button:link {
    border-radius: 4px;
    border: 1px solid #26777B;
    color: #26777B;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #FFF;
    padding: 0.25em 0.5em;
    cursor: default;
}

.button-hover,
.button:hover,
.button:link:hover,
.button:visited:hover {
    text-decoration: none;
    opacity: 0.8;
}

.button-active,
.button:active {
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25) inset;
    opacity: .5;
}

.button-disabled,
.button-disabled.button-hover,
.button-disabled:hover,
.button-disabled:active
.button-disabled.button-active {
    opacity: 1;
    box-shadow: none;
    background-color: #F3F3F3;
    border-color: #F0F0F0;
    color: #DDD;
}

.button-primary,
.button-primary:link,
.button-primary:visited {
    background: #26777B;
    color: white;
    border-color: #26777B;
}

.list-more-button,
.list-more-button:link,
.list-more-button:visited {
    border: none;
    color: #AAA;
    display: block;
    text-align: center;
}
.list-more-button:active{
    box-shadow: none;
}

.link-button,
.link-button:link,
.link-button:visited {
    border: none;
}
.link-button:active,
.link-button.button-active{
    box-shadow: none;
}
/**
 * Style for clearing.
 */

.clear-left {
  clear: left;
}
.clear-both {
  clear: both;
}
.clear-right {
  clear: right;
}


/**
 * Colors
 */

.white-color {
  color: #FFF;
}
.white-background-color {
  background-color: #FFF;
}
.white-border-color {
  border-color: #FFF;
}
.white-border-top-color {
  border-top-color: #FFF;
}
.white-border-right-color {
  border-right-color: #FFF;
}
.white-border-bottom-color {
  border-bottom-color: #FFF;
}
.white-border-left-color {
  border-left-color: #FFF;
}
.light-white-color {
  color: #FCFCFC;
}
.light-white-background-color {
  background-color: #FCFCFC;
}
.light-white-border-color {
  border-color: #FCFCFC;
}
.light-white-border-top-color {
  border-top-color: #FCFCFC;
}
.light-white-border-right-color {
  border-right-color: #FCFCFC;
}
.light-white-border-bottom-color {
  border-bottom-color: #FCFCFC;
}
.light-white-border-left-color {
  border-left-color: #FCFCFC;
}
.dark-white-color {
  color: #F8F8F8;
}
.dark-white-background-color {
  background-color: #F8F8F8;
}
.dark-white-border-color {
  border-color: #F8F8F8;
}
.dark-white-border-top-color {
  border-top-color: #F8F8F8;
}
.dark-white-border-right-color {
  border-right-color: #F8F8F8;
}
.dark-white-border-bottom-color {
  border-bottom-color: #F8F8F8;
}
.dark-white-border-left-color {
  border-left-color: #F8F8F8;
}
.black-color {
  color: #222;
}
.black-background-color {
  background-color: #222;
}
.black-border-color {
  border-color: #222;
}
.black-border-top-color {
  border-top-color: #222;
}
.black-border-right-color {
  border-right-color: #222;
}
.black-border-bottom-color {
  border-bottom-color: #222;
}
.black-border-left-color {
  border-left-color: #222;
}
.gray-color {
  color: #AAA;
}
.gray-background-color {
  background-color: #AAA;
}
.gray-border-color {
  border-color: #AAA;
}
.gray-border-top-color {
  border-top-color: #AAA;
}
.gray-border-right-color {
  border-right-color: #AAA;
}
.gray-border-bottom-color {
  border-bottom-color: #AAA;
}
.gray-border-left-color {
  border-left-color: #AAA;
}
.light-gray-color {
  color: #BBB;
}
.light-gray-background-color {
  background-color: #BBB;
}
.light-gray-border-color {
  border-color: #BBB;
}
.light-gray-border-top-color {
  border-top-color: #BBB;
}
.light-gray-border-right-color {
  border-right-color: #BBB;
}
.light-gray-border-bottom-color {
  border-bottom-color: #BBB;
}
.light-gray-border-left-color {
  border-left-color: #BBB;
}
.silver-color {
  color: #DDD;
}
.silver-background-color {
  background-color: #DDD;
}
.silver-border-color {
  border-color: #DDD;
}
.silver-border-top-color {
  border-top-color: #DDD;
}
.silver-border-right-color {
  border-right-color: #DDD;
}
.silver-border-bottom-color {
  border-bottom-color: #DDD;
}
.silver-border-left-color {
  border-left-color: #DDD;
}
.light-silver-color {
  color: #EEE;
}
.light-silver-background-color {
  background-color: #EEE;
}
.light-silver-border-color {
  border-color: #EEE;
}
.light-silver-border-top-color {
  border-top-color: #EEE;
}
.light-silver-border-right-color {
  border-right-color: #EEE;
}
.light-silver-border-bottom-color {
  border-bottom-color: #EEE;
}
.light-silver-border-left-color {
  border-left-color: #EEE;
}


.container {
    max-width: 1080px;
    margin: 0 auto;
}
.cover-container {
    position: relative;
}

.cover {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 888;
    background-color: rgba(255, 255, 255, 0.94);
    text-align: center;
}

.cover-black {
    background-color: rgba(0, 0, 0, 0.4);
}

.cover-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
}

.cover-icon {
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 44px;
    left: -22px;
    top: -22px;
    display: inline-block;
}

.cover-container-small .cover-icon-container {
    width: 22px;
    height: 22px;
}

.cover-container-small .cover-icon {
    height: 22px;
    width: 22px;
    line-height: 22px;
    font-size: 22px;
    left: -11px;
    top: -11px;
}

/**
 * Style for display
 */

.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}
.display-flex {
  display: flex;
}


.ok-fixed {
    position: fixed !important;
}
/**
 * Style for floating.
 */

.float-left {
  float: left;
}
.float-none {
  float: none;
}
.float-right {
  float: right;
}


/**
 * Font faces.
 */

@font-face {
  font-family: josefin-slab-bold;
  src: url('/fonts/Josefin Slab Bold.woff');
}
@font-face {
  font-family: lato-hairline;
  src: url('/fonts/Lato Hairline.woff');
}
@font-face {
  font-family: source-code-pro-extra-light;
  src: url('/fonts/Source Code Pro Extra Light.woff');
}
@font-face {
  font-family: ubuntu-bold;
  src: url('/fonts/Ubuntu Bold.woff');
}
@font-face {
  font-family: fontawesome-webfont;
  src: url('/fonts/fontawesome-webfont.woff');
}
@font-face {
  font-family: ionicons;
  src: url('/fonts/ionicons.woff');
}


/**
 * Font sizes.
 */

.font-size-8 {
  font-size: 8px;
}
.font-size-10 {
  font-size: 10px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-48 {
  font-size: 48px;
}


footer {
    padding: 32px 4px;
    border-top: 1px solid #F5F5F5;
    margin: 40px 10px 0;
    color: #B0B0B0;
    position: relative;
    z-index: 9;
}

.footer-logo{

}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #f5f5f5;
}

header h1 {
    line-height: 48px;
    height: 48px;
    margin: 0;
    color: #E0E0E0;
    font-family: 'source-code-pro-extra-light';
    display: inline-block;
    cursor: default;
    padding: 0 4px;
}

.header-nav {
    float: right;
}

.header-nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    line-height: 40px;
    width: 72px;
    color: #DADADA;
    position: relative;
}

.header-nav-item:link,
.header-nav-item:visited {
    color: #DADADA;
    text-decoration: none;
}

.header-nav-item:hover {
    color: #777;
    text-decoration: none !important;
}

.header-nav-item:active {
    opacity: 0.6;
}

.header-nav-item:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
}

.header-nav-item.nav-item-selected {
    color: #F90;
}

.header-nav-item.nav-item-selected:hover {
    cursor: default;
}

.header-nav-item.nav-item-selected:after {
    background-color: #F90;
}


.no-border-list {
    list-style: none;
}
main {
    min-height: 400px;
}
/**
 * Style for margin.
 */

.margin-0 {
  margin: 0px;
}
.margin-2 {
  margin: 2px;
}
.margin-4 {
  margin: 4px;
}
.margin-8 {
  margin: 8px;
}
.margin-16 {
  margin: 16px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-top-2 {
  margin-top: 2px;
}
.margin-top-4 {
  margin-top: 4px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-right-2 {
  margin-right: 2px;
}
.margin-right-4 {
  margin-right: 4px;
}
.margin-right-8 {
  margin-right: 8px;
}
.margin-right-16 {
  margin-right: 16px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-2 {
  margin-bottom: 2px;
}
.margin-bottom-4 {
  margin-bottom: 4px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-left-2 {
  margin-left: 2px;
}
.margin-left-4 {
  margin-left: 4px;
}
.margin-left-8 {
  margin-left: 8px;
}
.margin-left-16 {
  margin-left: 16px;
}


/**
 * Style for media.
 */

@media (max-width: 568px) {
    body {
        margin-top: 100px;
    }

    header {
        background-color: #FEFEFE;
        border-bottom: none;
    }

    .header-nav {
        float: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;

        box-sizing: border-box;
        -ms-box-orient: horizontal;

        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flexbox;
        display: -moz-flexbox;
        display: -ms-flexbox;
        display: -o-flexbox;
        display: flex;

        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;

        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    header h1 {
        width: 100%;
        text-align: center;
        line-height: 24px;
        height: 24px;
        margin: 0;
        color: #E0E0E0;
        font-family: 'source-code-pro-extra-light';
        display: inline-block;
        font-size: 12px;
    }

    .header-nav-item {
        width: 100%;
        box-sizing: border-box;
        display: block;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    table {
        width: 100%;
    }
}
/**
 * Style for padding.
 */

.padding-0 {
  padding: 0px;
}
.padding-2 {
  padding: 2px;
}
.padding-4 {
  padding: 4px;
}
.padding-8 {
  padding: 8px;
}
.padding-16 {
  padding: 16px;
}
.padding-top-0 {
  padding-top: 0px;
}
.padding-top-2 {
  padding-top: 2px;
}
.padding-top-4 {
  padding-top: 4px;
}
.padding-top-8 {
  padding-top: 8px;
}
.padding-top-16 {
  padding-top: 16px;
}
.padding-right-0 {
  padding-right: 0px;
}
.padding-right-2 {
  padding-right: 2px;
}
.padding-right-4 {
  padding-right: 4px;
}
.padding-right-8 {
  padding-right: 8px;
}
.padding-right-16 {
  padding-right: 16px;
}
.padding-bottom-0 {
  padding-bottom: 0px;
}
.padding-bottom-2 {
  padding-bottom: 2px;
}
.padding-bottom-4 {
  padding-bottom: 4px;
}
.padding-bottom-8 {
  padding-bottom: 8px;
}
.padding-bottom-16 {
  padding-bottom: 16px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-left-2 {
  padding-left: 2px;
}
.padding-left-4 {
  padding-left: 4px;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-left-16 {
  padding-left: 16px;
}


/**
 * Style for position.
 */

.position-static {
  position: static;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}


#social-buttons-container {
    height: 24px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

#twitter-button-container {
    min-width: 109px;
}

#facebook-button-container {
    min-width: 146px;
}

.button-container {
    float: right;
    margin: 0 4px;
    min-height: 1px;
}
/**
 * Sticking position.
 */

.stick-top {
  position: absolute;
  top: 0;
}
.stick-right {
  position: absolute;
  right: 0;
}
.stick-bottom {
  position: absolute;
  bottom: 0;
}
.stick-left {
  position: absolute;
  left: 0;
}


table {
    border-collapse: collapse;
}

.caption,
caption {
    text-align: center;
    color: #E5E5E5;
    padding: 4px 8px;
    font-weight: 100;
    font-size: 1.5em;
}

th {
    color: #999;
    font-weight: 100;
}

td, th {
    padding: 10px 15px;
    background-color: #FFF;
    border: 1px solid #EEE;
}

th:first-child,
td:first-child {
    border-left: none;
}

th:last-child,
td:last-child {
    border-right: none;
}

tr:first-child th,
tr:first-child td {
    border-top: none;
}

tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: none;
}
.ok-tag {
    display: inline-block;
    margin: 0 2px;
    padding: 0 4px 0 0;
    border: 1px solid #AAA;
    color: #AAA;
    font-size: 10px;
    line-height: 12px;
    border-radius: 2px;
    font-weight: 100;
    font-family: 'source-code-pro-extra-light';
}

.ok-tag-icon {
    float: left;
    display: inline-block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 4px 3px;
}
/**
 * Style for text aligning.
 */

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}


/**
 * Style for text decoration.
 */

.text-decoration-none {
  text-decoration: none;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-decoration-overline {
  text-decoration: overline;
}


.theme-font {
    font-family: 'source-code-pro-extra-light';
}
.toast {
    padding: 4px 8px;
    font-family: monospace;
    border: 1px solid #F0F0F0;
    margin: 4px 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.9);
}

.info-toast {
    border-color: green;
    color: rgba(0, 128, 0, 1);
}

.error-toast {
    border-color: red;
    color: rgba(255, 0, 0, 1);
}

.warn-toast {
    border-color: rgb(240, 210, 0);
    color: rgba(240, 210, 0, 1);
}

.ok-toast {
    display: none;
    max-width: 280px;
    margin: 4px auto;
}

.ok-toast-icon {
    float: left;
    margin-right: 4px;
}

.ok-toast-visible {
    display: block;
}

.toast-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    bottom: 84px;
    z-index: 9999;
}

/**
 * Wide size.
 */

.wide-article {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.wide-button {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.wide-input {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.wide-label {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.wide-section {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.wide-textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.wide-table {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}


/**
 * Width.
 */

.width-40 {
  width: 40px;
}
.width-80 {
  width: 80px;
}
.width-120 {
  width: 120px;
}
.width-160 {
  width: 160px;
}
.width-200 {
  width: 200px;
}


/**
 * z-index
 */

.z-index--1 {
  z-index: -1;
}
.z-index-0 {
  z-index: 0;
}
.z-index-2 {
  z-index: 2;
}
.z-index-4 {
  z-index: 4;
}
.z-index-8 {
  z-index: 8;
}
.z-index-16 {
  z-index: 16;
}
.z-index-32 {
  z-index: 32;
}
.z-index-64 {
  z-index: 64;
}
.z-index-128 {
  z-index: 128;
}
.z-index-256 {
  z-index: 256;
}


