/** Style for profile page. **/

main {
    min-height: 300px;
}

.profile-list-container,
.profile-table-container {
    margin: 10px 20px 30px;
    float: left;
    min-height: 180px;
}

.profile-list-container .caption {
    margin: 4px 0;
}

.profile-list-container ul {
    margin: 0;
}

#my-img-section {
    display: inline-block;
    float: left;
    padding: 20px 10px;
}

#my-img {
    width: 160px;
    height: 160px;
}

th,td {
    min-width: 60px;
}

ul, ol {
    max-width: 420px;
}


@media (max-width: 568px) {
    .profile-list-container,
    .profile-table-container {
        float: none;
        margin: 10px 0 20px;
    }
}