<section id="blog-detail-section" ng:controller="BlogDetailCtrl" ng:show="!!blogId">
    <div class="container cover-container">
        <div ok:cover ok:cover-visible="loading"></div>
        <div ng:if="!!blog && !loading" id="blog-detail-section-inner">

            <div>
                <a class="back-button" ng:click="close();">{{l.buttons.LIST}}</a>
            </div>

            <h1>{{blog.blog_title}}</h1>

            <div class="section-content">
                <div ng:bind-html="blog.blog_content | markdownRenderFilter"></div>
            </div>
        </div>
    </div>
</section>
