<!-- Header HTML -->
<div class="container">
    <nav class="header-nav">
        <a class="header-nav-item nav-item" ng:class="{'nav-item-selected':page=='profile'}" href="{{pages.PROFILE}}">{{l.pageNames.PROFILE}}</a>
        <a class="header-nav-item nav-item" ng:class="{'nav-item-selected':page=='blog'}" href="{{pages.BLOG}}">{{l.pageNames.BLOG}}</a>
        <a class="header-nav-item nav-item" ng:class="{'nav-item-selected':page=='work'}" href="{{pages.WORK}}">{{l.pageNames.WORK}}</a>
    </nav>
    <h1 class="header-logo" ng-click="goTopPage()">{{l.meta.NAME}}</h1>
</div>